<div>
  <button data-ng-show="isCheckedShown" data-ng-click="isCheckedShown = false">Show only unchecked</button>
  <button data-ng-hide="isCheckedShown" data-ng-click="isCheckedShown = true">Show all</button>
</div>

<ul>
  <li data-tree-node="tasksTree" data-is-shown="isCheckedShown"></li>
</ul>

<br><hr><br>

<code>{{ tasksTree }}</code>
